body {
    font-family: 'Verdana', sans-serif;
    background-color: #83abe63f; /* amarillo claro */
  }
  }
  
  .navbar {
    background-color: #6384f198 !important;
  }
  
  .card {
    border-radius: 10px;
  }
  